<app-navbar></app-navbar>
<section class="card text-white rounded blur-bg custom-form-bg">

    <div class="row">
        <div class="col-md-4 mx-auto">
            <br><br>
            <div class="ccard text-black rounded blur-bg custom-form-bg">
                <div class="card-header pt-5">
                    <h4 class="text-center text-white">
                        Registrar Docente
                    </h4>
                </div>

                <img class="mx-auto d-block logo m-4" src="../../../../assets/img/agregar-usuario.png" alt="Logo" />

                <div class="card-body">
                    <div class="mb-3">
                        <!--       <label for="name" class="form-label text-white">Nombre</label> -->
                        <input type="text" class="rounded-4 form-control text-black custom-input bg-" id="name"
                            name="name" placeholder="Nombre Docente" value="" [(ngModel)]="registerdata.name" />
                    </div>
                    <div class="mb-3">
                        <!--      <label for="email" class="form-label text-white">Correo</label> -->
                        <input type="email" class="rounded-4 form-control text-black custom-input" id="email"
                            name="email" placeholder="Correo Docente" value="" [(ngModel)]="registerdata.email" />
                    </div>
                    <div class="mb-3">
                        <!--       <label for="password" class="form-label text-white">Contraseña</label> -->
                        <input type="password" class="rounded-4 form-control text-black custom-input" id="password"
                            name="password" placeholder="Contraseña" value="" [(ngModel)]="registerdata.password" />
                    </div>
                    <div class="mb-3">
                        <!--      <label for="confirm_password" class="form-label text-white">Confirme su contraseña</label> -->
                        <input type="password" class="rounded-4 form-control text-black custom-input"
                            id="confirm_password" name="confirm_password" placeholder="Confirma contraseña" value=""
                            [(ngModel)]="confirmpassword" />
                    </div>
                    <button class="custom-button btn btn-secondary btn-block btn-center rounded-button"
                        (click)="onSubmit()">
                        <i class="fas fa-user"></i> Registrar Docente
                    </button>
                </div>
                <!-- <p class="text-center text-white">
                    ¿Ya tienes una cuenta?
                    <a routerLink="/iniciarsesion" class="text-info">Iniciar sesión</a>
                </p> -->
            </div>
        </div>
    </div>
    <br><br>

</section>