<app-navbar></app-navbar>
<div class="card text-white bg-primary " style="height: 100%;">
    <br>
    <div class="card-body text-center ">
        <h1>BIENVENIDO A NOAH</h1>
        <img class="logo2 mx-auto d-block" src="../../../../assets/img/user.png" alt="Logo" /><br>
        <p>En un contexto de crecimiento significativo de la educación en línea, impulsado en parte por la plataforma
            Open edX, se plantea un desafío crítico relacionado con la integridad académica debido a la colaboración
            deshonesta. Este proyecto se centra en desarrollar un sistema de visualización que permita a los educadores
            identificar eficazmente comportamientos académicamente deshonestos en cursos en línea, sin importar su
            escala. La implementación de esta herramienta es fundamental para preservar la calidad y la credibilidad de
            la educación en línea, abordando el problema del plagio, la copia de respuestas y otros comportamientos no
            éticos. Este enfoque se ajusta a un entorno educativo en constante evolución, donde la tecnología desempeña
            un papel crucial en la detección y prevención de la colaboración deshonesta, manteniendo altos estándares de
            integridad académica.</p>
        <hr class="my-4" />
    </div><br><br>
</div>