<app-navbar></app-navbar>
<section class="text-white">

    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card mt-5 text-white rounded blur-bg custom-form-bg">
                <div class="card-header text-center pt-5">
                    <h1 class="h4 text-white">RESTABLECER CONTRASEÑA</h1>
                </div>
                <img class="rounded-circle mx-auto d-block logo m-4"
                    src="../../../../assets/img/restablecer-la-contrasena.png" alt="Logo" />
                <div class="card-body">
                    <div class="mb-3">

                        <p class="text-center text-white">Se enviara una contraseña a tu correo </p>

                        <!-- iconos <i class="fas fa-user" style="color: black;"></i> -->
                        <input type="email" class="rounded-4 form-control text-black" name="email" placeholder="Correo"
                            autofocus />
                    </div>

                    <button class="custom-button btn btn-secondary btn-block btn-center rounded-button"><i
                            class="fas fa-sign-in-alt"></i> Enviar</button>
                </div>
            </div>
        </div>
    </div> <br> <br><br>
</section>