<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
        <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" style="font-size: 24px;">N O A H</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="isloged">
                    <a class="nav-link" routerLink="/graficas">Gráficas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/iniciarsesion">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registrarse">Cerrar Sesion</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" routerLink="/olvidecontrasena">Olvidé Contraseña</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>